@import url('http://fonts.cdnfonts.com/css/dejavu-sans-mono');
 body {
     background: #0d1117 url(https://raw.githubusercontent.com/AcaiBerii/AcaiBerii/7f1d9655c6e64ece5b28e04dfd79478818aaf7d6/github-contribution-grid-snake.svg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: 1200px;
     background-position-y: 300px;
     color: white;
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
     padding: 0;
     height: 1500px;
}
 main h1 {
     text-align: center;
     margin: 0;
}
 nav {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     margin-bottom: 25px;
}
 nav a:hover {
     color: #bebebe;
}
 .navbar-container {
     background: #161b22;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     width: 5%;
     height: 100%;
     left: 0;
     border-color: #30363d;
     border-style: solid;
     border-width: 1px;
     border-radius: 5px;
     position: fixed;
     min-width: 75px;
     top: 0;
}
 h2 {
     text-align: center;
}
 nav a {
     text-decoration: none;
     color: white;
     margin: 25px;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
}
 .analytics {
     margin-top: 100px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     text-align: center;
}
 .analytics img {
     margin: 0 auto;
     width: 30%;
     border-color: #30363d;
     border-style: solid;
     border-width: 1px;
     background: #161b22;
     -webkit-box-shadow: #161b22 0px 0px 50px;
     box-shadow: #161b22 0px 0px 50px;
     padding: 5px;
     border-radius: 25px;
     min-width: 300px;
}
 .skills {
     margin-top: 100px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     text-align: center;
}
 .skills img {
     margin: 0 auto;
     width: 35%;
     border-color: #30363d;
     border-style: solid;
     border-width: 1px;
     background: #161b22;
     -webkit-box-shadow: #161b22 0px 0px 50px;
     box-shadow: #161b22 0px 0px 50px;
     padding: 5px;
     border-radius: 25px;
     min-width: 300px;
}
 #vue {
     color: rgb(91, 255, 112);
}
 #js {
     color: rgb(255, 255, 0);
}
 i {
     margin-left: 5px;
     font-size: 35px;
}
 .about {
     margin-top: 100px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     text-align: center;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
 * {
     scrollbar-width: auto;
     scrollbar-color: #161825 #0d1117;
}
/* Chrome, Edge, and Safari */
 *::-webkit-scrollbar {
     width: 16px;
}
 *::-webkit-scrollbar-track {
     background: #0d1117;
}
 *::-webkit-scrollbar-thumb {
     background-color: #161825;
     border-radius: 10px;
     border: 3px solid #262626;
}
/* ===== End Scrollbar CSS ===== */
